body {
    background-color: #abe1eb;
    overflow: hidden;
    position: fixed;
}

@font-face {
    font-family: mario;
    src: url(fonts/super_mario_bros_3/Super-Mario-Bros--3.ttf);
}

.title {
    font-family: mario;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #3168B3;
    margin-top: 1vh;
    margin-bottom: 7vh;
    animation-name: titulo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: .7rem;
}

#container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    /* margin-bottom: 12vh; */
    width: 50vh;
    height: 63vw;
    justify-content: center;
}

.colunas {
    width: 63vw;
    height: 37vh;
    flex-direction: column;
    z-index: 4;
    border: 1px solid rgba(0, 0, 0, 0);
}

.colunas:hover {
    border: 1px solid #000;
}

.circulos {
    width: 5vh;
    height: 5vh;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.back {
    background-image: url(img/MF/mario3.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    height: 50vh;
    width: 95vw;
    background-position: center;
    margin-top: 0vh;
    z-index: 0;
}

.caixaCog {
    background-image: url(img/MF/caixa.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    height: 8vh;
    width: 15vw;
    position: absolute;
    z-index: 5;
    margin-top: 1vh;
    margin-left: 3vh;
}

#jogador2 {
    margin-left: 40vh;
}

.marioImg {
    background-image: url(img/MF/mario.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    height: 8vh;
    width: 15vw;
    position: absolute;
    z-index: 1;
    margin-top: 10vh;
    margin-left: 1vh;
}

.luigiImg {
    background-image: url(img/luigi.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    height: 8vh;
    width: 15vw;
    position: absolute;
    z-index: 1;
    margin-top: 10vh;
    margin-left: 1.5vh;
}

.cogumelo {
    /* display: flex; */
    width: 10vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    background-color: white;
    animation: move 2s;
}

.chomp {
    background-image: url(img/MF/chomp.gif);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    height: 10vh;
    width: 65vw;
    position: absolute;
    margin-top: -23vh;
    margin-left: 5.5vh;
    z-index: 0;
}

.nuvem {
    background-image: url(img/MF/nuvem_.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    height: 8vh;
    width: 23vw;
    position: absolute;
    margin-top: -60vh;
    margin-left: 3vh;
    background-color: #abe1eb;
    z-index: -3;
}

#nuvem1 {
    margin-top: -40vh;
    margin-left: 19vh;
    z-index: 3;
    animation-name: n1;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

#nuvem2 {
    margin-top: -50vh;
    margin-left: 10vh;
    z-index: 3;
    animation-name: n2;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

.cogumelo {
    display: flex;
    width: 10vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-bottom: 10vh;
    z-index: 7;
}

@keyframes titulo {
    0% {
        color: #A60F1B;
    }
    25% {
        color: #157EBF;
    }
    50% {
        color: #0ABF04;
    }
    75% {
        color: #09A603;
    }
    100% {
        color: #D90404;
    }
}

@keyframes n1 {
    0% {
        left: -20vh;
    }
    25% {
        left: 15vh;
    }
    50% {
        left: 25vh;
    }
    75% {
        left: 15vh;
    }
    100% {
        left: -20vh;
    }
}

@keyframes n2 {
    0% {
        right: -5vh;
    }
    25% {
        right: 15vh;
    }
    50% {
        right: 25vh;
    }
    75% {
        right: 15vh;
    }
    100% {
        right: -5vh;
    }
}

@keyframes move {
    from {
        top: 15px;
    }
    to {
        top: 280px;
    }
}

@media screen and (min-width: 800px) {
    body {
        width: 85%;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        margin-left: 10%;
        margin-right: 10%;
    }
    .title {
        font-size: 2rem;
        margin: 0 auto;
        color: #3168B3;
        margin-top: 2%;
    }
    #container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        z-index: -1;
        width: 29%;
        height: 36%;
        justify-content: center;
        padding-top: .5%;
    }
    .back {
        background-image: url(img/fundo/desktop/fundoduplo.png);
        background-repeat: no-repeat, repeat;
        background-size: cover;
        height: 50%;
        width: 100%;
        z-index: 0;
        margin: 0 auto;
        margin-left: 0%;
    }
    .colunas {
        width: 63vw;
        height: 36vh;
        flex-direction: column;
        z-index: 6;
        margin-left: 1%;
    }
    .circulos {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        margin: 0 auto;
        justify-content: stretch;
        margin-bottom: 1vh;
    }
    .caixaCog {
        background-image: url(img/caixa.png);
        background-repeat: no-repeat, repeat;
        background-size: contain;
        height: 8vh;
        width: 15vw;
        position: absolute;
        z-index: 6;
        margin-top: -1vh;
        margin-left: 11vh;
    }
    #jogador2 {
        margin-left: 149vh;
    }
    .marioImg {
        background-image: url(img/mario.png);
        background-repeat: no-repeat, repeat;
        background-size: contain;
        height: 8vh;
        width: 15vw;
        position: absolute;
        z-index: 1;
        margin-top: 10vh;
        margin-left: 1vh;
    }
    .luigiImg {
        background-image: url(img/luigi.png);
        background-repeat: no-repeat, repeat;
        background-size: contain;
        height: 8vh;
        width: 15vw;
        position: absolute;
        z-index: 1;
        margin-top: 10vh;
        margin-left: 1.5vh;
    }
    .cogumelo {
        width: 99px;
        height: 106px;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 80%;
        background-color: white;
    }
    .chomp {
        background-image: url(img/chomp.gif);
        background-repeat: no-repeat, repeat;
        background-size: contain;
        height: 14vh;
        position: absolute;
        margin-top: -20vh;
        margin-left: 36.5vh;
        z-index: 0;
    }
    .nuvem {
        background-image: url(img/nuvem_.png);
        background-repeat: no-repeat, repeat;
        background-size: contain;
        height: 8vh;
        width: 23vw;
        position: absolute;
        margin-top: -60vh;
        margin-left: 3vh;
        background-color: #abe1eb;
        z-index: -3;
    }
    #nuvem1 {
        margin-top: -62vh;
        margin-left: 19vh;
        z-index: 3;
        animation-name: n1;
        animation-duration: 80s;
        animation-iteration-count: infinite;
        height: 107px;
        width: 149px;
    }
    #nuvem2 {
        margin-top: -74vh;
        margin-left: 10vh;
        z-index: 3;
        animation-name: n2;
        animation-duration: 80s;
        animation-iteration-count: infinite;
        width: 130px;
        height: 97px;
    }
    @keyframes n1 {
        0% {
            left: 5%;
        }
        20% {
            left: 15%;
        }
        30% {
            left: 30%;
        }
        40% {
            left: 50%;
        }
        50% {
            left: 45%;
        }
        60% {
            left: 30%;
        }
        70% {
            left: 15%;
        }
        80% {
            left: 25%;
        }
        90% {
            left: 15%;
        }
        100% {
            left: 5%;
        }
    }
    @keyframes n2 {
        0% {
            right: 5%;
        }
        20% {
            right: 15%;
        }
        30% {
            right: 30%;
        }
        40% {
            right: 50%;
        }
        50% {
            right: 45%;
        }
        60% {
            right: 30%;
        }
        70% {
            right: 15%;
        }
        80% {
            right: 25%;
        }
        90% {
            right: 15%;
        }
        100% {
            right: 5%;
        }
    }
    @keyframes move {
        from {
            top: 15px;
        }
        to {
            top: 725px;
        }
    }
}